.remove-row{
  display: none;
}

.masonry-row:hover .remove-row{
  display: block;
}

.masonry-item:hover .remove-row{
  display: block;
}

.offcanvas-backdrop {
  display: none;
}

.offcanvas-body {
  box-shadow: -1px -9px 5px 0px rgba(0,0,0,0.25);
  -webkit-box-shadow: -1px -9px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: -1px -9px 5px 0px rgba(0,0,0,0.25);
}

.add-block {
  cursor: pointer;
}
